<link rel="icon" href="/images/favicon.ico" sizes="48x48">
<link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
{% if locale == 'en' %}
<meta name="apple-mobile-web-app-title" content="Oakville">
<meta name="application-name" content="Oakville">
{% else %}
<meta name="apple-mobile-web-app-title" content="頤安本草">
<meta name="application-name" content="頤安本草">
{% endif %}
<meta name="msapplication-TileColor" content="#2A463C">
<meta name="msapplication-TileImage" content="/images/android-chrome-192x192.png">
