<script src="/js/site-config.js"></script>
<script src="/js/schema-manifest.js"></script>
{% if locale == 'en' %}
<script src="/js/search-index-en.js"></script>
{% else %}
<script src="/js/search-index.js"></script>
{% endif %}
<script src="/js/dongfang.js"></script>
{% if homeJs %}<script src="/js/home.js"></script>{% endif %}
