---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.data.layout != "layouts/redirect.njk" %}
{%- if page.data.noindex != true %}
{%- set lastModified = page.data.lastmod or page.date %}
  <url>
    <loc>{{ page.data.canonical }}</loc>
    {%- if lastModified %}<lastmod>{{ lastModified | isoDate }}</lastmod>{%- endif %}
    <changefreq>{{ page.data.changefreq | default("monthly") }}</changefreq>
    <priority>{{ page | sitemapPriority }}</priority>
  </url>
{%- endif %}
{%- endif %}
{%- endfor %}
</urlset>
